PORT=3000
NODE_ENV=development
MONGO_URL=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/event_paluse?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d
